body {
  background-color: #f6f1eb;
}

footer {
  background-color: white;
}

.first-line {
  border-bottom: 1px solid #f6f1eb;
}

.second-line a {
  color: grey;
  text-decoration: none;
  font-size: 12px;
}
.third-line {
  display: none;
}

.flag {
    color: white;
  }
  .mobile-footer {
    border-top: 1px solid #392d23;
    color: black;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    display: none;
  }

@media screen and (max-width: 48rem) {
  .first-line {
    text-align: center;
  }
}

@media screen and (max-width: 48rem) {
  .second-line {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #f6f1eb;
  }
}

@media screen and (max-width: 48rem) {
    .mobile-footer {
        display: block;
      }
    
    .col {
      padding-bottom: 1rem;
    }
    .flag-img {
      margin: 0 0.5rem;
    }
 
}
